# ignore all files by default
* 

# choose folders to allow
!mango/
!scripts/
!swaync/
!waybar/
!foot/
!rofi/
!assets/

# choose files to allow in the allowed folders
!/mango/**
!/scripts/**
!/swaync/**
!/waybar/**
!/foot/**
!/rofi/**
!/assets/**


!README.md
!.gitignore
# TODO: Add gtk files as well, after config